.profile {
  max-width: 880px;
  min-height: 120px;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width: 767px) {
  .profile {
    max-width: 282px;
    min-height: 286px;
    padding-top: 42px;
    margin-bottom: 51px;
    flex-direction: column;
  }
}
